asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
cssselect==1.0.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.1
django-heroku==0.3.1
django-toolbelt==0.0.1
Flask==1.1.1
gunicorn==20.0.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.3.3
MarkupSafe==1.0
parsel==1.5.1
psycopg2==2.8.4
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pypiwin32==223
PySocks==1.6.8
pytz==2019.3
pywin32==221
queuelib==1.5.0
requests==2.19.1
Scrapy==1.6.0
six==1.12.0
static3==0.7.0
urllib3==1.23
w3lib==1.20.0
Werkzeug==0.16.0
whitenoise==4.1.4
win-inet-pton==1.0.1
wincertstore==0.2
