asn1crypto==1.2.0
beautifulsoup4==4.8.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
Click==7.0
cryptography==2.8
cssselect==1.0.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.18
django-heroku==0.3.1
django-toolbelt==0.0.1
Flask==1.1.1
gunicorn==20.0.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.3.3
MarkupSafe==1.1.1
parsel==1.5.1
psycopg2==2.8.4
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pypiwin32==223
PySocks==1.7.1
pytz==2019.3
queuelib==1.5.0
requests==2.22.0
Scrapy==1.6.0
six==1.13.0
soupsieve==1.9.3
sqlparse==0.3.0
static3==0.7.0
urllib3==1.24.2
w3lib==1.20.0
Werkzeug==0.16.0
whitenoise==4.1.4
win-inet-pton==1.1.0
wincertstore==0.2
